
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "loadingIndicator";

.nav-link {
  margin: 0 15px;
}

.dropdown .nav-link {
  margin: 0;
  padding: 3px 20px;
}

.event-title {
  margin-top: 0;
}

#error-message {
  margin-top: 25%;
}

.nav-item button {
  display: inline;
}

.form-control-label {
  margin-bottom: 7px;
}

.form-border-bottom:focus,
.form-border-bottom:hover,
.form-border-bottom {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ccd0d2;
    border-radius: 0;
    box-shadow: inherit;
    padding: 0;
    height: inherit;
}

.form-border-bottom:hover {
    box-shadow: inherit;
}

.btn-link {
  padding: 0;
  border: 0;
}

.btn-link:focus {
  outline: 0;
}

.profile td:first-child {
  font-weight: bold;
}

.profile td:last-child {
  text-align: right;
}

.profile {
  margin: auto;
  width: 70%;
}

.card {
  width: 70%;
  margin: auto;
}

.input-col  {
  width: 25%;
}

.role-picker {
  padding: 3px 12px;
}

.modal {
  text-align: left;
}

.modal-header {
  width: 100%;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.modal-header > * {
  width: 100%;
}

.modal-header > button {
  text-align: right;
}

.modal-footer {
  border: 0;
}

.navbar-week {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-week button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  margin: 0 5px;
}

.content {
  margin: auto;
  width: 75%;
}

.btn {
  outline: none !important;
}


.none {
  text-align: center;
  margin-top: 100px;
}

#all-events td:nth-child(1){
  width: 20%;
}

#all-events td:nth-child(2){
  width: 35%;
}

input #activated {
  width: 15px;
}
